<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> file Upload Demo</h1>
    <p> Welcome to <%= title %> file Upload Demo</p>
  </body>
</html>
